************************************************************************************************************
*                                                                                                          *
* DRILL TAPE SUMMARY REPORT                                                                                *
*                                                                                                          *
* C:\USERS\RAFEL\DOCUMENTS\PROJECTES\SOC\T3\DISENO\HARDWARE\VERSION1_0\LAYOUT\CAMERABOARD\CAMERABOARD.MAX  *
* Wed Mar 28 11:50:52 2012                                                                                 *
*                                                                                                          *
************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       150      59       200      100                                                                                 
T2       275      4        200      100                                                                                 
T3       380      30       200      100                                                                                 
T4       551      2        200      100                                                                                 
T5       1100     4        200      100                                                                                 
